<section>
  <div class="text-content">
    <h2 class="about-content">ABOUT ME</h2>
  </div>
  <div>
    <h3 class="title">BIO</h3>
    <p class="text">
      I'm Lloyd Jefferson, a talented programmer specializing in software
      development. My expertise spans various programming languages and
      technologies, and I am dedicated to continually enhancing my skills. I
      thrive on seeking unconventional and creative solutions to problems,
      leveraging a high level of analytical skills to effectively tackle even
      the most challenging tasks.
    </p>
    <p class="text">
      Adaptable to both independent and team-oriented work, I collaborate
      seamlessly with colleagues, exchanging ideas and finding optimal
      solutions. My professional maturity enables me to navigate challenges and
      stressful situations with a calm demeanor, maintaining a consistently high
      quality of work. Committed to self-improvement, I actively engage in
      studying new technologies and practices to stay current with the latest
      innovations in the field.
    </p>
    <img class="img-man-about" src="" alt="img-man" />
  </div>
  <div>
    <h3 class="title">EDUCATION</h3>
    <ul class="">
      <li class="about-info">
        2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
      </li>
      <li class="about-info">
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
        York
      </li>
      <li class="about-info">
        2020 - 2022 / Advanced Blender Animation Techniques, Udemy
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="about-info">Frontend development</li>
      <li class="about-info">HeadlessCMS, Wordpress</li>
      <li class="about-info">Blender (enjoy)</li>
    </ul>
  </div>
  <img src="" alt="decoration" class="decoration" />
</section>
