<header class="header" id="header"></header>
    <div class="header-container container">
      <a class="header-logo" href="./index.html">Lloyd<span class="common-span">Jefferson.</span></a>
      <nav class="header-nav">
        <button id="theme-toggle" class="theme-toggle">
          <svg class="icon-sun" width="20" height="20">
            <use href="./img/icons.svg#icon-sun"></use>
          </svg>
          <svg class="icon-moon" width="14" height="20">
            <use href="./img/icons.svg#icon-moon"></use>
          </svg>
        </button>
        <ul class="header-list">
          <li class="header-item"><a href="#about-me">About me</a></li>
        <li class="header-item"><a href="#projects">Projects</a></li>
        <li class="header-item"><a href="#contacts">Contacts</a></li>
        </ul>
        <button type="button" id="header-button" class="header-button">
          <svg class="header-button-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
          <svg class="header-close-icon" width="32" height="32">
              <use href="./img/header.svg#icon-close"></use>
            </svg>
        </button>
      </nav>
    </div>

    <div class="modal-container" id="modal-container">
      <div class="mobile-menu">
          <ul class="header-list-mobile">
            <li class="header-item"><a href="#about-me">About me</a></li>
        <li class="header-item"><a href="#projects">Projects</a></li>
        <li class="header-item"><a href="#contacts">Contacts</a></li>
          </ul>
      </div>
    </div>

    <script type="module" src="./js/header.js"></script>
    </header>
