<header class="header" id="header"></header>
    <div class="header-container">
      <a class="header-logo" href="./index.html">Lloyd<span class="header-logo-span">Jefferson.</span></a>
      <nav class="header-nav">
        <button id="theme-toggle" class="theme-toggle"></button>
        <ul class="header-list">
          <li class="header-item" href="#about-me">About me</li>
          <li class="header-item" href="#projects">Projects</li>
          <li class="header-item" href="#contacts">Contacts</li>
        </ul>
        <button type="button" class="header-button"></button>
      </nav>
    </div>
    </header>
