<section class="hero">
  <div class="container container-height">
    <div class="container-hero">
      <div class="container-hero-caption">
        <h1 class="hero-caption">
          Hello, I am <span class="common-span">Fullstack developer</span>
        </h1>
        <div class="hero-container-order">
          <a class="hero-order-link" href="#contacts">
            <svg class="hero-link-icon" width="28" height="13">
              <use
                href="./img/hero-img/symbol-defs.svg#icon-Arrow-order"
              ></use></svg
            >Order the project
            <div class="rectangle dark-theme"></div>
          </a>
        </div>
      </div>
      <div class="container-hero-img">
        <img
          class="hero-img is-hidden"
          srcset="
            ./img/hero-img/hero-imgx1.jpg 1x,
            ./img/hero-img/hero-imgx2.jpg 2x
          "
          src="./img/hero-img/hero-img.jpg"
          alt="Our hero"
        />
        <p class="hero-text">
          I work with people all over the world to create
          <span class="common-span">impressive</span> and
          <span class="common-span">functional websites</span> that reflect each
          client’s unique personality.
        </p>
      </div>
    </div>
  </div>
  <div class="container-bg-color dark-theme">
    <div class="container-link dark-theme">
      <ul class="hero-list">
        <li class="hero-iteam">
          <a
            target="_blank"
            class="hero-iteam-social-link"
            href="https://www.instagram.com/goitclub/"
            >Insragram</a
          >
        </li>
        <li class="hero-iteam">
          <a
            target="_blank"
            class="hero-iteam-social-link"
            href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li class="hero-iteam">
          <a
            target="_blank"
            class="hero-iteam-social-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li class="hero-iteam">
          <a
            target="_blank"
            class="hero-iteam-social-link"
            href="https://pavlobilenko.github.io/js-avatar-team/"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
