<section class="my-projects">
    <div class="container my-projects-container">
    <h2 class="my-projects-main-title">My <span class="green-title-name">projects</span></h2>
    <ul class="my-projects-list">
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-1-2x.jpg" alt="power pulse webservice">
            <div class="my-projects-info-wrapper">
                <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
                <h3 class="my-projects-title">starlight studio landing page</h3>
                <button class="my-projects-btn" type="button">Visit
                    <svg class="my-projects-svg" width="18" height="18">
                        <use href="">
                    
                    </svg>           
                </button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-2-2x.jpg" alt="mimino website">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">English excellence webservice </h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-3-2x.jpg" alt="vyshyvanka vibes Landing Page">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">fruitbox online store</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-4-2x.jpg" alt="green harvest online store">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">energy flow webservice </h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-5-2x.jpg" alt="wallet webservice">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">chego jewelry website</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-6-2x.jpg" alt="chego jewelry website">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">wallet webservice </h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-7-2x.jpg" alt="energy flow webservice">
            <div class="my-projects-info-wrapper">
            <p>React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">vyshyvanka vibes Landing Page</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-8-2x.jpg" alt="fruitbox online store">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">mimino website</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-9-2x.jpg" alt="English excellence webservice">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">green harvest online store</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="../img/my-projects-img/project-10-1x.jpg" alt="starlight studio landing page">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <h3 class="my-projects-title">power pulse webservice</h3>
            <button class="my-projects-btn" type="button">Visit</button>
            </div>
        </li>
    </ul>  
</div>  
</section>