<section class="my-projects">
    <div class="container my-projects-container">
    <h2 class="my-projects-main-title">My&nbsp;<span class="common-span">projects</span></h2>
    <ul class="my-projects-list">
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-6-2x.jpg" srcset="./img/my-projects-img/project-6-1x.jpg 1x, ./img/my-projects-img/project-6-2x.jpg 2x"  alt="power pulse webservice">
            <div class="my-projects-info-wrapper">
                <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
                <div class="my-projects-text-and-btn">
                    <h3 class="my-projects-title">Wallet webservice </h3>
                    <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                        <svg class="icon-visit" width="15" height="15">
                            <use href="./img/my-projects-icons.svg#icon-visit"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-9-2x.jpg" srcset="./img/my-projects-img/project-9-1x.jpg 1x, ./img/my-projects-img/project-9-2x.jpg 2x"  alt="mimino website">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">English excellence webservice </h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-2-2x.jpg" srcset="./img/my-projects-img/project-2-1x.jpg 1x, ./img/my-projects-img/project-2-2x.jpg 2x"  alt="vyshyvanka vibes Landing Page">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">fruitbox online store</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-10-2x.jpg" srcset="./img/my-projects-img/project-10-1x.jpg 1x, ./img/my-projects-img/project-10-2x.jpg 2x"  alt="green harvest online store">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">energy flow webservice </h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-8-2x.jpg" srcset="./img/my-projects-img/project-8-1x.jpg 1x, ./img/my-projects-img/project-8-2x.jpg 2x"  alt="wallet webservice">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">chego jewelry website</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
                </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-7-2x.jpg" srcset="./img/my-projects-img/project-7-1x.jpg 1x, ./img/my-projects-img/project-7-2x.jpg 2x"  alt="chego jewelry website">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">wallet webservice </h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-5-2x.jpg" srcset="./img/my-projects-img/project-5-1x.jpg 1x, ./img/my-projects-img/project-5-2x.jpg 2x"  alt="energy flow webservice">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">vyshyvanka vibes Landing Page</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-4-2x.jpg" srcset="./img/my-projects-img/project-4-1x.jpg 1x, ./img/my-projects-img/project-4-2x.jpg 2x"  alt="fruitbox online store">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">mimino website</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-3-2x.jpg" srcset="./img/my-projects-img/project-3-1x.jpg 1x, ./img/my-projects-img/project-3-2x.jpg 2x"  alt="English excellence webservice">
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">green harvest online store</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
        <li class="my-projects-link">
            <img class="my-projects-img" src="./img/my-projects-img/project-1-1x.jpg" srcset="./img/my-projects-img/project-1-1x.jpg 1x, ./img/my-projects-img/project-1-2x.jpg 2x"  alt="starlight studio landing page"> 
            <div class="my-projects-info-wrapper">
            <p class="my-projects-paragraph">React, JavaScript, Node JS, Git</p>
            <div class="my-projects-text-and-btn">
            <h3 class="my-projects-title">power pulse webservice</h3>
            <a href="https://github.com/PavloBilenko/js-avatar-team" class="my-projects-btn" target="_blank">Visit
                <svg class="icon-visit" width="15" height="15">
                    <use href="./img/my-projects-icons.svg#icon-visit"></use>
                </svg>
            </a>
            </div>
            </div>
        </li>
    </ul>  
    <button id="load-more-btn" class="load-more-btn" type="button">Load more</button>
</div>  
</section>