<section class="reviews-section">
    <div class="container">
        <h2 class="reviews-title">REVIEWS</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" id="comments-list">
                <!-- Slides will be added dynamically -->
            </div>

            <div class="reviews-buttons">
                <div class="swiper-button-prev">
                    <svg class="comment-prev-btn" width="24" height="24">
                        <use href="/src/img/icons.svg#icon-arrow-left" fill="black"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <img class="comment-next-btn" src="./img/icons.svg#icon-arrow-left" alt="Next" />
                </div>
            </div>
        </div>
    </div>
</section>

<div id="error-message" style="display: none;">Not found</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

   