<section class="reviews-section">
    <div class="container">
        <h2 class="reviews-title">REVIEWS</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" id="comments-list">
                <!-- Slides will be added dynamically -->
            </div>


            <div class="reviews-buttons">
                <div class="swiper-button-prev">
                    <svg class="comment-prev-btn" width="24" height="24">
                        <use href="./img/icons.svg#icon-arrow-left" class="reviews-btn-svg"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="comment-prev-btn" width="24" height="24" style="transform: scale(-1, 1);">
                        <use href="./img/icons.svg#icon-arrow-left" class="reviews-btn-svg"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="error-message" style="display: none;">Not found</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
   