
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />


<body>

<section class="reviews-section">
    <div class="container">
        <h2 class="reviews-titel">REVIEWS</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper" id="comments-list">
                <!-- Slides will be added dynamically -->
            </div>

            <div class="reviews-buttons">
                <div class="swiper-button-prev">
                    <img class="comment-prev-btn" src="./img/icons.svg#icon-arrow-left" alt="Previous" />
                </div>
                <div class="swiper-button-next">
                    <img class="comment-next-btn" src="./img/icons.svg#icon-arrow-right" alt="Next" />
                </div>
            </div>
        </div>
    </div>
</section>

<div id="error-message" style="display: none;">Not found</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
   