<section class="tech-skills">
  <div class="container marquee">
    <h2 class="hidden" hidden>Tech Skills</h2>
    <div class="text-wrapper">
      <div class="marquee__inner upper">
        <p class="marquee__line">
          <span class="another-color-green common-span">&bull;</span> HTML/CSS
          <span class="another-color-green common-span">&bull;</span>
          JAVASCRIPT
          <span class="another-color-green common-span">&bull;</span> REACT
          <span class="another-color-green common-span">&bull;</span> NODE.JS
          <span class="another-color-green common-span">&bull;</span> REACT
          NATIVE
          <span class="another-color-green common-span">&bull;</span>
          TYPESCRIPT
        </p>
        <p class="marquee__line">
          <span class="another-color-green common-span">&bull;</span> HTML/CSS
          <span class="another-color-green common-span">&bull;</span>
          JAVASCRIPT
          <span class="another-color-green common-span">&bull;</span> REACT
          <span class="another-color-green common-span">&bull;</span> NODE.JS
          <span class="another-color-green common-span">&bull;</span> REACT
          NATIVE
          <span class="another-color-green common-span">&bull;</span>
          TYPESCRIPT
        </p>
      </div>
      <div class="marquee__inner lower rotated">
        <p class="marquee__line common-span">
          <span class="another-color-black">&bull;</span> HTML/CSS
          <span class="another-color-black">&bull;</span>
          JavaScript
          <span class="another-color-black">&bull;</span> React
          <span class="another-color-black">&bull;</span> Node.js
          <span class="another-color-black">&bull;</span> REACT NATIVE
          <span class="another-color-black">&bull;</span>
          TYPESCRIPT
        </p>
        <p class="marquee__line common-span">
          <span class="another-color-black">&bull;</span> HTML/CSS
          <span class="another-color-black">&bull;</span>
          JavaScript
          <span class="another-color-black">&bull;</span> React
          <span class="another-color-black">&bull;</span> Node.js
          <span class="another-color-black">&bull;</span> REACT NATIVE
          <span class="another-color-black">&bull;</span>
          TYPESCRIPT
        </p>
      </div>
    </div>
  </div>
</section>
