<section cl>
  <div class="container marquee">
    <h2 class="hidden" hidden>Tech Skills</h2>
    <div class="marquee__inner upper">
      <p class="marquee__line">
        JAVASCRIPT
        <span class="another-color-green common-span">&bull;</span> REACT
        <span class="another-color-green common-span">&bull;</span> NODE.JS
        <span class="another-color-green common-span">&bull;</span> REACT NATIVE
      </p>
      <p class="marquee__line">
        JAVASCRIPT
        <span class="another-color-green common-span">&bull;</span> REACT
        <span class="another-color-green common-span">&bull;</span> NODE.JS
        <span class="another-color-green common-span">&bull;</span> REACT NATIVE
      </p>
    </div>
    <div class="marquee__inner lower rotated">
      <p class="marquee__line common-span">
        JAVASCRIPT <span class="another-color-black">&bull;</span>
        REACT
        <span class="another-color-black">&bull;</span> NODE.JS
        <span class="another-color-black">&bull;</span>
        REACT NATIVE
      </p>
      <p class="marquee__line common-span">
        JAVASCRIPT <span class="another-color-black">&bull;</span> REACT
        <span class="another-color-black">&bull;</span> NODE.JS
        <span class="another-color-black">&bull;</span>
        REACT NATIVE
      </p>
    </div>
  </div>
</section>
