<section class="container">
  <div>
    <h2 class="head-work">
      let’s
      <span class="span-work">work together</span>
    </h2>
    <ul>
      <li>
        <p class="text-idea">
          Contact me to transform your ideas into exceptional solutions.
        </p>
      </li>
      <li>
        <address class="address">
          <ul class="address-menu">
            <li>
              <a class="link-address" href="tel:+380503247690" target="_blank"
                >+38 050 324 76 90</a
              >
            </li>
            <li>
              <a class="link-address" href="mailto:info@goit.ua" target="_blank"
                >info@goit.ua</a
              >
            </li>
            <li>
              <a
                class="link-address"
                href="https://www.google.com/maps/search/?api=1&query=Київ+Ю.Іллєнка+12"
                target="_blank"
              >
                м. Київ, вул. Ю. Іллєнка, 12
              </a>
            </li>
          </ul>
        </address>
      </li>
      <li>
        <form class="feedback-form" autocomplete="off">
          <input
            class="input"
            type="email"
            placeholder="Your email*"
            name="email"
            autofocus
          />
          <textarea
            class="input txt-ar"
            placeholder="Message"
            name="message"
            rows="8"
          ></textarea>
          <button class="btn" type="submit">SEND MESSAGE</button>
        </form>
      </li>
    </ul>
  </div>
  <div class="backdrop">
    <div class="modal">
      <button type="button" class="modal-close">
        <svg class="modal-icon" width="8" height="8">
          <use href="./images/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <p class="modal-title">Thank you for your interest in cooperation!</p>
    </div>
  </div>
</section>
