.body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
  max-width: 1216px;
}

.about-content {
  font-size: 48px;
  color: #292929;
  text-align: center;
}

.highlight {
  color: #00B068;
}

.bio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

.bio-text {
  max-width: 550px;
}

.img-man-bio {
  margin-left: 30px;
}

.text {
  font-size: 16px;
  color: #292929;
  line-height: 1.6;
  margin-bottom: 24px;
}

.education {
  margin-top: 40px;
  width: 100%;
}

.about-list {
  list-style-type: none; 
  padding-left: 0; 
}

.about-list li {
  position: relative; 
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.about-list li::before {
  content: ''; 
  width: 4px; 
  height: 4px; 
  background-color: #00B068; 
  border-radius: 1px; 
  position: absolute;
  left: -25px; 
  top: 5px; 
}

.title {
  font-size: 24px;
  color: #292929;
  margin-bottom: 10px;
}


.about-info {
  font-size: 16px;
  color: #292929;
  margin-bottom: 10px;
}

.img-man-about {
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 100%;
}

.about-info {
  font-size: 16px;
  color: #292929;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.education,
.role {
  margin-top: 20px;
}

.decor {
  display: block;
  margin: 30px auto;
  max-width: 80%;
}

.decoration {
  animation: moveDots 5s infinite linear;
}

