@media screen and (min-width: 1280px) {
  .about-section {
    max-width: 1280px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .about-content {
    font-size: 108px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 32px;
   
  }
  
  .bio-attachment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 40px;
  }
  
  .bio-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .text {
    font-size: 16px;
    line-height: 1.6;
    
  }
  
  .text-gap {
    margin-bottom: 24px;
  }
  
  .img-man-about {
    width: 320px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 312px;
    margin-left: 240px;
    margin-right: 136px;
  }
  
  .decor-element {

    display: flex;
    justify-content: center;
    position: relative;
    
  }
  
  .decor {
    max-width: 100%;
    height: auto;

  }
  
  .education {
    margin-right: 240px;
    margin-left: 136px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  
  .about-list {
    list-style: none;
    word-wrap: break-word;
    max-width: 384px;
    gap: 16px;
  }
  
  .about-list li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
    line-height: 1.5;
  }
  
  .about-list li::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #00b068;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(0);
    
  }

  }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-section {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .about-content {
    display: flex;
    width: 400px;
    font-size: 108px;
    margin: 0;
    letter-spacing: 0.02em;
    line-height: 1.4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 10px;
    overflow: visible;
  }

  .bio-text {
    width: 100%;
    margin-left: 0;
  }

  .bio-attachment {
    display: flex;
    gap: 32px;
    
  }

  .img-man-about {
    width: 100%;
    margin-top: 408px;
    border-radius: 16px;
  }

  .education {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-start;
    gap: 40px;
  }

  .education-column {
    flex: 1;
    max-width: 384px;
  }

  .about-list {
    list-style-type: none;
    padding-left: 0;
  }

  .about-list li {
    position: relative;
    margin-bottom: 8px;
    line-height: 1.5;
    padding-left: 30px;
  }

  .about-list li::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #00b068;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(0);
  }

  .text {
    margin-bottom: 24px;
  }

  
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-section {
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .about-content {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .bio-attachment {
    
    flex-direction: column;
    align-items: center;
  }

  .bio-text {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .img-man-about {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .education {
    display: block;
    align-items: center;
    margin-top: 40px;
  }

  .education-column {
    text-align: center;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .about-list {
    list-style-type: none;
  }

  .about-list li {
    position: relative;
    margin-bottom: 8px;
    line-height: 1.5;
    padding-left: 20px;
  }

  .about-list li::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #00b068;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0.6em;
    transform: translateY(0);
  }

  .title {
    text-align: left;
    font-weight: 500;
    margin-bottom: 32px;
    margin-top: 40px;
    font-size: 32px;
  }

  .text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 24px;
  }

  .decor-element {
    display: none;
  }

}

.about-content {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-list {
  list-style-type: none;
}

.about-list li {
  position: relative;
  margin-bottom: 8px;
  line-height: 1.5;
  padding-left: 20px;
}

.about-list li::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #00b068;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.6em;
  transform: translateY(0);
}

.title {
  text-align: left;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 40px;
  font-size: 32px;
}

.text {
  font-size: 16px;
  text-align: left;
  margin-bottom: 24px;
}