.about-section {
  padding-bottom: 80px;
  padding-top: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 124px;
    padding-top: 124px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

.about-me-container {
  position: relative;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.bio-attachment {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
    gap: 136px;
  }
}

.bio-text {
  margin-bottom: 40px;
  line-height: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
  }
}

.text-gap {
  font-size: 16px;
  text-align: left;
  /* margin-bottom: 24px; */
}

.about-me-img {
  border-radius: 16px;
  width: 320px;
  height: 374px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 392px;
    margin-top: 368px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 240px;
    margin-top: 272px;
    width: 384px;
    height: 448px;
  }
}

.about-content {
  font-family: Impact Regular;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: 1.8px;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    font-size: 108px;
    line-height: 124px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-me-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.bio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
  }
}

.education {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 240px;
    gap: 136px;
  }
}

.education-column {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
  }
}

.about-list {
  list-style-type: disc;
  padding-left: 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-list li::marker {
  color: #00b068;
}

.about-list li::marker {
  color: #14c57c;
}

.about-first-list {
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 384px;
  }
}

.about-me-decor {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute; /* Меняем на абсолютное позиционирование */
    right: 32px; /* Выравнивание по правому краю */
    bottom: 280px; /* Отступ сверху */
    filter: blur(3px);
    max-width: 336px;
    height: 252px;
    /* padding-right: 32px; */
  }
  @media screen and (min-width: 1280px) {
    width: 384px;
    height: 288px;
    bottom: 234px;
  }
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
