:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: Impact Regular;
  font-weight: 400;
  font-size: 136px;
  line-height: 115%;
  letter-spacing: 0.01em;
}

h2 {
  font-family: Impact Regular;
  font-weight: 400;
  font-size: 108px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

h3 {
  font-family: Poppins Medium;
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.01em;
}

body {
  font-family: Poppins Light;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
