:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: Impact Regular;
  font-size: 136px;
  letter-spacing: 1.8px;
  line-height: 156px;
}

h2 {
  font-family: Impact Regular;
  font-size: 108 px;
  letter-spacing: 1.8 px;
  line-height: 124 px;
}

h3 {
  font-family: Poppins Medium;
  font-size: 36 px;
  letter-spacing: 0.5 px;
  line-height: 48 px;
}

body {
  font-family: Poppins Light;
  font-weight: 300;
  font-size: 16 px;
  letter-spacing: 0.2 px;
  line-height: 24 px;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
