@media (max-width: 320px) {
  .modal-container {
    width: 320px;
  }
}

.body-no-scroll {
  overflow: hidden;
  height: 100%;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header.scrolled {
  border-bottom: 1px solid #0c0c0c1a;
  background-color: inherit;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-logo {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-logo-span {
  color: #00b068;
}

.header-list {
  display: none;
}

.header-item {
  font-family: Poppins Light, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header-item:hover,
.header-item:focus {
  color: #00b068;
  transition: color 0.3s ease-in-out;
}

.header-button {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  border: none;
  background-color: inherit;
}

body.dark-theme .header-button-icon {
  fill: #f0f0f0;
}

body.dark-theme .header-close-icon {
  fill: #f0f0f0;
}

.theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  border: none;
  background-color: #e4e5e6;
  overflow: hidden;
}

.icon-sun {
  width: 20px;
  height: 20px;
  fill: #00b068;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: left 0.4s ease, opacity 0.5s ease;
  opacity: 1;
}

.icon-moon {
  width: 20px;
  height: 20px;
  fill: #00b068;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: right 0.4s ease, opacity 0.5s ease;
  opacity: 0;
}

body.dark-theme .icon-sun {
  left: 100%;
  opacity: 0;
  background-color: #204136;
}

body.dark-theme .theme-toggle {
  background-color: #2a2d32;
}

body.dark-theme .icon-moon {
  opacity: 1;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-container.show {
  visibility: visible;
}

.mobile-menu {
  position: relative;
  background-color: #f0f0f0;
  background-image: url(../img/mob-menu/mob-menu-bg1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body.dark-theme .mobile-menu {
  background-color: #1e2023;
}

.header-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.header-button-icon {
  display: block;
}

.header-close-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-logo {
    font-size: 32px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-button {
    display: none;
  }

  .theme-toggle {
    margin-right: 40px;
  }

  .modal-container {
    display: none;
  }
}
