/* @keyframes slide {
  from {
    transform: translateX(-140%) translateY(-50%);
  }
  to {
    transform: translateX(-104%) translateY(-50%);
  }
}
@keyframes stretch {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(100%) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(100%) scale(1);
  }
} */

:root{
  --accet-greeen: #00B068;
  --bgcolor-rectangle-dark-them: #14c57c;
  --bgcolor-rectangle: #bcdfd1;
  --bgcolor-social-link: #E4E5E6;
  --bgcolor-iteam-icon: #204136;
}

.hero {
  padding-top: 112px;
  width: 100%;
  background-image: url('../img/hero-img/bg-hero-mobile.png');
  background-repeat: no-repeat;
  background-position: top;
  block-size: auto;
  background-size: 320px 735px;
  min-width: 360px;
  @media screen and (min-width: 768px) {
    background-image: url('../img/hero-img/bg-hero-tab.png');
    min-width: 768px;
    padding-top: 72px;
    background-size: 704px 896px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../img/hero-img/bg-hero-desctop.png');
    min-width: 1280px;
    background-size: 1216px 772px;
  }
}



.container-hero {
  /* background-image: url('../img/hero-img/bg-hero-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  block-size: auto;
  background-size: contain; */
  @media screen and (min-width: 768px) {
    width: 555px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 72px;
  }
}

.container-hero-caption {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 555px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 96px;
  }
}

.hero-caption {
  font-family: Impact Regular;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  height: 240px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 555px;
    height: 444px;
    font-weight: 400;
    font-size: 124px;
    line-height: 1.193;
    letter-spacing: 1.8px;
    text-align: left;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    width: 555px;
    margin-bottom: 80px;
  }
}

.hero-container-order{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 92px;
  @media screen and (min-width: 768px) {
    height: 96px;
    width: 416px;
  }

  @media screen and (min-width: 1280px) {
    width: 555px;
  }
}



.hero-order-link {
  font-family: Poppins Regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1280px) {
    /* padding-left: 72px; */
  }
}

.hero-order-link:hover > div.rectangle, .hero-order-link:focus > div.rectangle{
  background-color: var(--accet-greeen);

}

.dark-theme .rectangle {
  background-color: var(--bgcolor-rectangle-dark-them);
}

.hero-link-icon{
  /* width: 1.875em; */
  color: var(--accet-greeen);
  fill: currentColor;
  margin-left: 6px;
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    margin-left: 4px;
    margin-right: 12px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 76px;
    margin-right: 12px;
  }
}

.rectangle{
  background-color: var(--bgcolor-rectangle);
  border-radius: 16px;
  width: 165px;
  height: 92px;
  position: absolute;
  left: 155px;
  z-index: -1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 261px;
    height: 96px;
    left: 155px;
  }

  @media screen and (min-width: 1280px) {
    left: 227px;
  }
}

.container-hero-img {
  margin-bottom: 72px;
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 96px;
    margin-bottom: 104px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.is-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;

  @media screen and (min-width: 1280px) {
    position: relative;
    clip-path: none;
    width: 592px;
    height: 444px;
    
  }
}

.hero-img {
  border-radius: 35px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }
}

.hero-text {
  font-family: Poppins Regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1280px) {
    width: 592px;
  }
}



.dark-theme .container-bg-color {
  background-color: #2a2d32;
}

.container-bg-color {
  background-color: var(--bgcolor-social-link);
}

.hero-link-section{
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--bgcolor-social-link);
  margin: 0 auto;
  min-width: 360px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    padding-bottom: 40px;
    min-width: 1280px;
  }
}




.container-link {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  
  margin: 0 auto;
  /* min-width: 360px; */
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    /* min-width: 768px; */
  }

  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    padding-bottom: 40px;
    /* min-width: 1280px; */
  }
}



.hero-list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 40px;
  }
}
.hero-iteam:not(:last-child){
  
  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
  }
}




.hero-iteam-social-link {
  font-family: Poppins Light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}


.hero-iteam-social-link:hover, .hero-iteam-social-link:focus{
  color: var(--accet-greeen);
}

/* hero-link-section dark-theme */
