* {
    box-sizing: border-box;
    
}


.reviews-section {
    margin-top: 80px;
}

.reviews-title {
    text-align: center;
}

.swiper {
    overflow: hidden;

}

 .swiper-wrapper {
    display: flex;
    
}

.swiper-slide {
    flex: 0 0 calc(50% - 32px);
    justify-content: space-between;
    display: flex;
    gap: 32px;
    
}

.comment-container {
    margin-top: 60px;
    margin-bottom: 64px;
    width: 100%;
    border-radius: 16px;
    background-color: #E4E5E6;
    padding: 32px;
    
}

.comment-user {
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;

}

.comment-user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.comment-user-name {
    font-weight: 500;
}

.hidden-comment {
    display: none;
}

.reviews-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px black;
}

.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px black;
}

.comment-prev-btn {
    fill: black;
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}


@media (min-width: 768px) {
    .swiper-slide {
        flex: 0 0 50%;
    }
}